:root {
  --darkblue: #1a3c4f;
  --opacitydarkblue: rgb(26, 60, 79, 0.8);
  --blue: #09608e;
  --brightyellow: #fafa50;
  --dullyellow: #fafa92;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

p {
  padding-top: 1em;
  font-size: 1.1rem;
  line-height: 1.5em;
}

li {
  font-size: 1.1rem;
}

img {
  display: block;
}

/* navigation bar */
.navbar {
  display: flex;
  background-color: var(--darkblue);
  align-items: center;
  justify-content: space-between;
  padding: 1em;

  &__wrapper {
    display: flex;
    align-items: center;
    font-size: 0.7rem;

    .navbar__logo {
      width: 60px;
      height: 60px;
    }

    .navbar__heading {
      padding: 0 0 0 0.9em;
    }

    .navbar__heading h1 {
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      color: var(--brightyellow);
    }

    .navbar__heading span {
      color: var(--dullyellow);
      word-spacing: 0.3rem;
      font-size: 1.2rem;
    }

    .navbar__heading h1,
    span {
      font-weight: 400;
    }
  }

  &__links {
    color: white;
  }

  &__links ul {
    display: flex;
  }

  &__links li {
    list-style: none;
    padding: 0 1.4em 0 1.4em;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 400;
  }
}

.heroimage__wrapper {
  position: relative;
}

/* breadcrumb navigation */
header {
  .breadcrumb {
    background-color: var(--blue);
    color: white;
  }

  .breadcrumb span {
    border-bottom: 1px solid white;
    padding-bottom: 2px;
  }

  .breadcrumb ul {
    display: flex;
    list-style: none;
    padding: 0.8em;
  }

  .breadcrumb li {
    padding: 0 0.3em 0 0.3em;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.1rem;
  }

  .heroimage {
    object-fit: cover;
    object-position: 40% 10%;
    height: 600px;
    width: 100%;
  }
}

/* side margins along main and section */
main {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 2.5em;
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
}

.column__1 {
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  height: 2300px;
}

.column__1 ul {
  padding: 3em 0 0 1em;
}

.column__1 li {
  list-style: none;
}

.column__1 button {
  margin: 0 4em 1em 0.7em;
  font-size: 1.3em;
  border-radius: 0;
  padding: 0.3em 0 0.3em 0;
  text-transform: uppercase;
}

.column__3 {
  display: flex;
  flex-direction: column;
  padding-top: 0.5em;
}

.column__3 img {
  height: auto;
  width: 350px;
  padding-top: 3em;
}

section {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
}

h2 {
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: var(--opacitydarkblue);
  color: white;
  text-align: center;
  word-spacing: 0.2em;
  font-weight: 400;
  padding: 0.8em 0 0.8em 0;
  font-size: 1.8rem;
}

.h3__wrapper {
  margin: 3em 0 1em 0;
}

h3 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  color: var(--darkblue);
}

.h3underline {
  width: 100%;
  color: var(--darkblue);
  background-color: var(--darkblue);
}

h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  color: var(--darkblue);
  padding: 1em 0 1em 0;
}

main li {
  padding: 0 0 0.7em 0;
  list-style-position: inside;
}

/* Upcoming Workshops - Content */
.card__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 50px;

  .workshop {
    width: 480px;
  }

  .workshop img {
    width: 480px;
    height: auto;
  }

  .workshop p {
    padding: 1em 0 0 0;
  }

  .workshop span {
    color: rgb(216, 0, 0);
    display: block;
    padding-top: 1em;
  }

  .workshop button {
    margin-top: 1em;
    padding: 0.2em 0.4em 0.2em 0.4em;
    border-radius: 0;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    background-color: white;
    font-size: 1.2rem;
    font-weight: 400;
  }
}

/* Upcoming Workshops - Card Image Colour and Text */
.card__imgwrapper {
  position: relative;
}

.cardimage__color {
  position: absolute;
  width: 100%;
  height: 65px;
  background-color: var(--opacitydarkblue);
  z-index: 1005;
  bottom: 0;
}

.card__imgwrapper p {
  position: absolute;
  bottom: 0;
  margin: 0 1em 0.5em 1em;
  color: white;
  z-index: 1006;
}

/* Latest Testimonials */
.testimonial__wrapper {
  display: flex;
  justify-content: center;
  column-gap: 50px;
  flex-wrap: wrap;

  .testimonial {
    width: 480px;
  }

  .testimonial p {
    font-style: italic;
  }

  .testimonial span {
    display: block;
    padding-top: 1em;
    font-weight: 600;
    font-size: 1.1rem;
  }
}

/* Feedback */
.feedback {
  margin: 4em 0 1em 0;
  text-align: left;
}

/* Footer */
footer {
  background-color: var(--darkblue);
  display: flex;
  justify-content: space-evenly;
  color: white;
  padding: 4em 0 2em 0;
}

footer ul {
  font-weight: 400;
  list-style: none;
}

footer li {
  font-size: 1.2rem;
}

footer li span {
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
}

footer ul button {
  margin-top: 1em;
  padding: 0.2em 3em 0.2em 3em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
}
