:root {
  --darkblue: #1a3c4f;
  --opacitydarkblue: rgb(26, 60, 79, 0.8);
  --blue: #09608e;
  --brightyellow: #fafa50;
  --dullyellow: #fafa92;
}

/* font-family: 'Hind', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif; 
font-family: 'Hind Madurai', sans-serif;*/
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
}

.navbar__heading--subheading {
  font-family: "Montserrat", sans-serif;
}

p {
  font-family: "Hind", sans-serif;
  padding-top: 1em;
  font-size: 1.2rem;
  line-height: 1.5em;
  color: #3b3b3b;
  font-weight: 400;
}

li {
  font-size: 1.1rem;
  font-family: "Hind", sans-serif;
}

img {
  display: block;
}

/* Navbar */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--darkblue);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

/* Navbar - Logo & Heading */
.navbar__heading--title {
  margin-bottom: 0.2em;
}

.navbar__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__wrapper .navbar__logo {
  width: 60px;
  height: 60px;
}

.navbar__wrapper .navbar__heading {
  padding: 0 0 0 0.9em;
}

.navbar__wrapper .navbar__heading h1 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: var(--brightyellow);
  word-spacing: 0.2em;
}

.navbar__wrapper .navbar__heading span {
  color: var(--dullyellow);
  word-spacing: 0.3rem;
  font-size: 1.1rem;
}

.navbar__wrapper .navbar__heading h1,
.navbar__wrapper span {
  font-weight: 400;
}

/* Navbar - Links */
.navbar__links {
  color: white;
}

.navbar__links a {
  text-decoration: none;
  color: white;
}

.navbar__links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__links li {
  list-style: none;
  padding: 0 1.1em 0 1.1em;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 400;
}

/* Navbar (Media Queries) */
@media only screen and (max-width: 1700px) {
  .navbar__links li {
    list-style: none;
    padding: 0 1.4em 0 1.4em;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: 400;
  }
}

@media only screen and (max-width: 1620px) {
  .navbar__links li {
    list-style: none;
    padding: 0 1.4em 0 1.4em;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
  }
}

@media only screen and (max-width: 1550px) {
  .navbar__links li {
    list-style: none;
    padding: 0 1.4em 0 1.4em;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 400;
  }
  .navbar__heading--title {
    font-size: 1.9rem;
  }
}

@media only screen and (max-width: 1550px) {
  .navbar__wrapper .navbar__heading span {
    color: var(--dullyellow);
    word-spacing: 0.3rem;
    font-size: 1.1rem;
  }
}

@media only screen and (max-width: 1450px) {
  .navbar__wrapper .navbar__heading--title {
    font-size: 1.8rem;
  }
  .navbar__wrapper .navbar__heading span {
    color: var(--dullyellow);
    word-spacing: 0.3rem;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 1430px) {
  .navbar__wrapper .navbar__heading--title {
    font-size: 1.7rem;
  }
  .navbar__wrapper .navbar__heading span {
    color: var(--dullyellow);
    word-spacing: 0.3rem;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1420px) {
  .navbar__wrapper .navbar__heading--title {
    font-size: 1.6rem;
  }
  .navbar__wrapper .navbar__heading span {
    color: var(--dullyellow);
    word-spacing: 0.3rem;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1390px) {
  .navbar__wrapper .navbar__heading--title {
    font-size: 1.5rem;
  }
  .navbar__wrapper .navbar__heading span {
    color: var(--dullyellow);
    word-spacing: 0.3rem;
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 1370px) {
  .navbar__links li {
    list-style: none;
    padding: 0 1.4em 0 1.4em;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
  }
}

@media only screen and (max-width: 1300px) {
  .navbar {
    padding: 0.8em;
  }
  .navbar__links li {
    list-style: none;
    padding: 0 1.4em 0 1.4em;
    font-size: 0.95rem;
    text-transform: uppercase;
    font-weight: 400;
  }
}

@media only screen and (max-width: 1250px) {
  .navbar__links li {
    display: none;
  }
}

@media only screen and (max-width: 463px) {
  .navbar__wrapper .navbar__heading--title {
    font-size: 1.3rem;
  }
  .navbar__wrapper .navbar__heading span {
    color: var(--dullyellow);
    word-spacing: 0.3rem;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 426px) {
  .navbar__wrapper .navbar__heading--title {
    font-size: 1.2rem;
  }
  .navbar__wrapper .navbar__heading span {
    color: var(--dullyellow);
    word-spacing: 0.3rem;
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 408px) {
  .navbar__wrapper .navbar__heading--title {
    font-size: 1.1rem;
  }
  .navbar__wrapper .navbar__heading span {
    color: var(--dullyellow);
    word-spacing: 0.3rem;
    font-size: 0.8rem;
  }
}

.heroimage__wrapper {
  position: relative;
}

/* Breadcrumbs Navigation. */
header .breadcrumbs {
  background-color: var(--blue);
  color: white;
}

header .breadcrumbs__mobile--cnz,
header .breadcrumbs__mobile--ws,
header .breadcrumbs__mobile--thr,
header .breadcrumbs__mobile--fpe {
  display: none;
}

header a {
  text-decoration: none;
  color: white;
}

header .breadcrumbs span {
  border-bottom: 1px solid white;
}

header .breadcrumbs ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0.8em;
}

header .breadcrumbs li {
  padding: 0 0.3em 0 0.3em;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.1rem;
  color: white;
  padding-bottom: 2px;
  letter-spacing: 0.1em;
}

@media only screen and (max-width: 1050px) {
  header .breadcrumbs li {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 970px) {
  header .breadcrumbs li {
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 870px) {
  header .breadcrumbs li {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 790px) {
  header .breadcrumbs__mobile--cnz {
    display: inline-block;
  }
  header .breadcrumbs__desktop--cnz {
    display: none;
  }
}

@media only screen and (max-width: 660px) {
  header .breadcrumbs__mobile--ws {
    display: inline-block;
  }
  header .breadcrumbs__desktop--ws {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  header .breadcrumbs__desktop--thr {
    display: none;
  }
  header .breadcrumbs__mobile--thr {
    display: inline-block;
  }
}

@media only screen and (max-width: 505px) {
  header .breadcrumbs li {
    font-size: 0.7rem;
  }
}

@media only screen and (max-width: 428px) {
  header .breadcrumbs__mobile--fpe {
    display: inline-block;
  }
  header .breadcrumbs__desktop--fpe {
    display: none;
  }
}

/* Hero Image and h2 */
.heroimage {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 40% 10%;
  object-position: 40% 10%;
  height: 700px;
  width: 100%;
}

h2 {
  font-family: "Montserrat", sans-serif;
  bottom: 0;
  position: absolute;
  width: 100%;
  background-color: var(--opacitydarkblue);
  color: #ececec;
  text-align: center;
  word-spacing: 0.2em;
  font-weight: 400;
  padding: 1em 0 1em 0;
  font-size: 1.8rem;
}

/* Hero Image and h2 (Media Queries) */
@media only screen and (max-width: 950px) {
  h2 {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 910px) {
  h2 {
    font-size: 1.6rem;
    padding: 0.7em 0 0.7em 0;
  }
}

@media only screen and (max-width: 850px) {
  h2 {
    font-size: 1.5rem;
    padding: 0.6em 0 0.6em 0;
  }
}

@media only screen and (max-width: 800px) {
  h2 {
    font-size: 1.4rem;
    padding: 0.5em 0em 0.5em 0em;
  }
}

@media only screen and (max-width: 750px) {
  h2 {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 700px) {
  h2 {
    font-size: 1.2rem;
  }
}

/* Main - 3 Columns */
main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10fr 1fr;
      grid-template-columns: 10fr 1fr;
  grid-gap: 2.5em;
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
  margin-bottom: 7em;
}

/* Column 1 & 2 Wrapper */
.column__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1 3;
      grid-template-columns: 1 3;
  width: 100%;
  gap: 2.5em;
}

.column__1--container {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 1;
  width: 330px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.column__2 {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
}

.column__1--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #efefef;
}

.column__1--container a {
  text-decoration: none;
  color: black;
}

.column__1 {
  height: 100%;
  background-color: #efefef;
}

.column__1--container ul {
  padding: 3em 0 0 1em;
  margin-bottom: 0.5em;
}

.column__1--container li {
  list-style: none;
}

.column__1--container button {
  margin: 0em 0em 1em 0.7em;
  font-size: 1.3em;
  border-radius: 0;
  border-style: solid;
  border-color: #636363;
  padding: 0.5em 0 0.5em 0;
  width: 250px;
  text-transform: uppercase;
  background-color: white;
  color: #292929;
}

.column__1--container ul li {
  font-size: 1.2em;
  padding-bottom: 0.4em;
}

.column__2 li {
  color: #4d4d4d;
}

.itinerary__droplist ul {
  margin-top: 2em;
}

.itinerary__droplist li {
  padding: 0 0 0.9em 0;
  list-style-position: inside;
  font-size: 1.4rem;
  font-weight: 400;
  list-style-type: none;
  position: relative;
  padding-left: 1em;
}

.itinerary__droplist li:before {
  content: "\25BA \0020";
  font-size: 1.1rem;
  color: var(--darkblue);
  position: absolute;
  top: 4px;
  left: -2px;
}

/* content: '';
   position: absolute;
   border-right:2px solid black;
   border-bottom:2px solid black;
   width:10px;
   height:10px;
   top: calc(50% - 4px);
   left: -20px;
   transform: translateY(-50%) rotate(-45deg); */
.fees li {
  padding: 0 0 0.6em 0;
  list-style-position: inside;
  font-size: 1.2rem;
  color: #3a3a3a;
}

.column__3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 0.5em;
}

.column__3 img {
  height: auto;
  width: 350px;
  padding-top: 2.5em;
}

.terms__padding {
  padding: 0;
}

/* Main - 3 Columns (Media Queries) */
@media only screen and (max-width: 1600px) {
  .column__1--container {
    width: 300px;
  }
  .column__1--container button {
    margin: 0em 3em 1em 0.7em;
  }
}

@media only screen and (max-width: 1500px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1;
        grid-template-columns: 1;
    grid-gap: 2.5em;
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
  }
  .column__1--container {
    width: 270px;
  }
  .column__1--container button {
    margin: 0 2em 1em 0.7em;
  }
  .column__3 img {
    height: auto;
    width: 300px;
    padding-top: 2em;
  }
}

@media only screen and (max-width: 1300px) {
  .column__3 img {
    height: auto;
    width: 250px;
    padding-top: 1em;
  }
  .column__1--container button {
    margin: 0 1em 1em 0.7em;
  }
}

@media only screen and (max-width: 1200px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
  }
  .column__2 {
    padding-right: 2em;
  }
  .column__3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
    padding: 0 2em 0 2em;
  }
  .column__3 img {
    height: auto;
    width: 350px;
    padding-top: 0em;
  }
}

@media only screen and (max-width: 1100px) {
  .column__3 img {
    height: auto;
    width: 300px;
    padding-top: 0em;
  }
}

@media only screen and (max-width: 1050px) {
  .column__1--container {
    width: 200px;
  }
  .column__1--container button {
    font-size: 1em;
  }
}

@media only screen and (max-width: 950px) {
  .column__1--container {
    width: 160px;
  }
  .column__1--container button {
    font-size: 1em;
    width: 140px;
  }
  .column__3 img {
    height: auto;
    width: 250px;
    padding-top: 0em;
  }
}

@media only screen and (max-width: 900px) {
  .column__1--container {
    width: 140px;
  }
  .column__1--container button {
    font-size: 0.9em;
    width: 120px;
    padding: 0 0.3em 0 0.3em;
    margin: 0.5em auto;
  }
}

@media only screen and (max-width: 750px) {
  .column__1 {
    display: none;
  }
  .column__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    gap: 0;
  }
  .column__2 {
    padding-right: 0;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 2em 0 2em !important;
  }
}

@media only screen and (max-width: 532px) {
  .column__3 img {
    height: auto;
    width: auto;
    padding-top: 0em;
  }
}

@media only screen and (max-width: 500px) {
  main {
    margin: 0 1em 0 1em;
  }
}

/* Section */
section {
  width: 100%;
  max-width: 1550px;
  margin: 0 auto;
}

.h3__wrapper {
  margin: 3em 0 1em 0;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
  color: var(--darkblue);
  border-bottom: 1px solid white;
  padding-bottom: 2px;
}

.h3__underline {
  width: 100%;
  color: var(--darkblue);
  background-color: var(--darkblue);
  border-bottom: 1px solid var(--blue);
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
  color: var(--blue);
  padding: 1em 0 1em 0;
}

/* Section (Media Queries) */
@media only screen and (max-width: 1650px) {
  section {
    width: 100%;
    max-width: 1550px;
    margin: 0 auto;
    padding: 0 2em 0 2em;
  }
}

/* Upcoming Workshops */
.card__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 40px;
          column-gap: 40px;
  margin-bottom: 6em;
}

.card__wrapper .workshop {
  width: 490px;
}

.card__wrapper .workshop img {
  width: 100%;
  height: auto;
}

.card__wrapper .workshop p {
  padding: 1em 0 0 0;
}

.card__wrapper .workshop span {
  color: #8d0000;
  display: block;
  padding-top: 1em;
}

.card__wrapper .workshop button {
  margin-top: 1em;
  padding: 0.4em 0.5em 0.4em 0.5em;
  border-radius: 0;
  border-style: solid;
  border-width: 2px;
  border-color: #6b6b6b;
  background-color: white;
  font-size: 1.2rem;
  font-weight: 400;
  color: #4b4b4b;
}

.card__imgwrapper {
  position: relative;
}

.cardimage__color {
  position: absolute;
  width: 100%;
  height: 100px;
  background-color: var(--opacitydarkblue);
  z-index: 1001;
  bottom: 0;
}

.card__imgwrapper p {
  position: absolute;
  bottom: 0;
  margin: 0 1em 0.5em 1em;
  color: #e2e2e2;
  z-index: 1002;
  font-size: 1.6rem;
}

/* Upcoming Workshops (Media Queries) */
@media only screen and (max-width: 1650px) {
  .card__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 55px;
            column-gap: 55px;
  }
  .card__wrapper .workshop {
    margin: 0 1em 4em 1em;
  }
  .card__wrapper .workshop img {
    width: 100%;
    height: auto;
  }
}

/* Latest Testimonials */
.testimonial__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 50px;
          column-gap: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.testimonial__wrapper .testimonial {
  width: 483px;
}

.testimonial__wrapper .testimonial p {
  font-style: italic;
}

.testimonial__wrapper .testimonial span {
  display: block;
  padding-top: 1em;
  font-weight: 400;
  font-size: 1.2rem;
  font-family: "Hind", sans-serif;
  color: #333333;
}

/* Latest Testimonial (Media Queries) */
@media only screen and (max-width: 1650px) {
  .testimonial {
    margin-bottom: 4em;
  }
}

/* Feedback */
.feedback {
  margin: 2em 0 1em 0;
  text-align: left;
}

/* Footer */
footer {
  background-color: var(--darkblue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ebebeb;
  padding: 4em 0 4em 0;
}

footer li:first-child {
  padding-bottom: 0.2em;
}

.footer__list--1 li {
  padding-bottom: 0.2em;
}

.footer__list {
  width: 850px;
}

.footer__list--1 {
  margin-left: 1em;
}

footer ul {
  font-weight: 400;
  list-style: none;
}

footer li {
  font-size: 1.2rem;
}

footer a {
  text-decoration: none;
  color: #ebebeb;
}

footer li span {
  letter-spacing: 0.1rem;
  font-size: 1.3rem;
}

footer button {
  margin-top: 1em;
  padding: 0.3em 2.3em 0.3em 2.3em;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.4rem;
  color: #303030;
  border-style: solid;
  border-color: grey;
}

button:hover {
  cursor: pointer;
}

/* Footer (Media Queries) */
/*# sourceMappingURL=style.css.map */